# Application
APP_NAME=Local LLM
APP_VERSION=0.1.0
DEBUG=true

# LLM
# LLM_PROVIDER=openai
# LLM_MODEL=gpt-5.6-luna
# LLM_PROVIDER=gemini
# LLM_MODEL=gemini-2.5-flash
LLM_PROVIDER=groq
# LLM_MODEL=openai/gpt-oss-120b
LLM_MODEL=groq/compound

# OpenAI
OPENAI_API_KEY=openai_api_key

#Gemini
GEMINI_API_KEY=gemini_api_key

#Groq
GROQ_API_KEY=groq_api_key

# Cerebras